{% extends "pages/layout.html" %}

{% block title %}
    Home
{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div style="text-align: center; margin-top: 20px;">
        <h1 style="color: darkred; font-size: 28px;">HIGHLANDS COFFEE: TỰ HÀO SINH RA TỪ ĐẤT VIỆT, 1999</h1>
    </div>
    <br />
    <div>
        <h4 style="font-size: 20px; font-weight: bold;">Câu chuyện về niềm tự hào nguồn gốc Việt của chuỗi cà phê Highlands Coffee</h4>
        <p style="font-size: 16px; line-height: 1.6;">
            Năm 1995, một doanh nhân Việt Kiều trẻ tuổi – David Thái đã trở về Việt Nam khi tình yêu và khát vọng cống hiến cho quê hương thôi thúc. Vì cha mẹ đều là người Việt, ngay từ khi còn nhỏ, anh đã được nghe nhiều câu chuyện thú vị và các giá trị truyền thống đầy tự hào về đất nước hình chữ S. Dù tiếp nhận nền giáo dục phương Tây, dòng máu Việt vẫn không ngừng chảy và đưa anh trở về tìm hiểu văn hóa quê hương.

            Từ tình yêu với Việt Nam và niềm đam mê cà phê, năm 1999, thương hiệu Highlands Coffee ra đời với khát vọng nâng tầm di sản cà phê lâu đời của Việt Nam và lan rộng tinh thần tự hào, kết nối hài hoà giữa truyền thống với hiện đại.
        </p>
        <img style="height: 500px; width:1200px" src="{% static 'img/img_home.jpg' %}"   />
        <p>Tất cả những chi tiết nhỏ nhất trong việc chọn nguyên vật liệu thô và trong cả trang trí đều được Highlands Coffee chú ý, để nâng tầm giá trị Việt, để Highlands Coffee trở thành thương hiệu được yêu thích nhất về khẩu vị, phong cách cà phê và trà Việt Nam hiện đại, nhưng vẫn giữ giá cả hợp lý, gần gũi và sẵn sàng phục vụ mọi khách hàng, mọi lúc, mọi nơi.</p>
        <p>
            Tinh thần nhân văn của người Việt còn được Highlands Coffee lan toả thông qua những hoạt động vì cộng đồng như tài trợ, giao lưu và giúp đỡ các tổ chức, trường học trong nước. Và Highlands Coffee hiểu rằng, việc đồng hành cùng những chiến dịch bảo vệ môi trường sẽ còn là định hướng lâu dài của cả thương hiệu.Chính khát khao được lan tỏa nguồn gốc Việt, niềm tự hào được phục vụ người Việt đã giúp Highlands Coffee chưa một ngày nào đi chệch sứ mệnh của mình
        </p>
    </div>
</div>
{% endblock %}